img{
    /* float: left; */
    height: 100;
    width: auto;
}
h4{
    margin-bottom: 0 !important;
    text-align: left;
}
.Card > p{
padding-left: 3px;
}
button{
    /* width:50 !important; */
    font-size: 10pt !important;
    padding: 10px 15px  !important;
}